force-app/main/default/flows/The_Great_Cloner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Em</name>
        <label>Clone &apos;Em!</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <actionName>DoubleMe</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>daysToAdd</name>
            <value>
                <elementReference>Number_of_Days_to_Add</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fixedDateMode</name>
            <value>
                <elementReference>fixedDateMode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fixedEndDate</name>
            <value>
                <elementReference>Input_End_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fixedStartDate</name>
            <value>
                <elementReference>Input_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstCSOs</name>
            <value>
                <elementReference>datatableOriginalCSOs.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originalSessionId</name>
            <value>
                <elementReference>Input_Original_Session_Picklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSessionId</name>
            <value>
                <elementReference>Input_Target_Session_Picklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateSessionNameMode</name>
            <value>
                <elementReference>updateSessionNameMode.value</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstClonedCourseOptions</assignToReference>
            <name>lstClonedCourseOptions</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>lstClonedCourseSessions</assignToReference>
            <name>lstClonedCourseSessions</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_fixedDateMode</name>
        <label>Set fixedDateMode</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>fixedDateMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CSOs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAddDays</name>
        <choiceText>Add days to original record&apos;s dates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceFixedDates</name>
        <choiceText>Choose start and end dates for all cloned records</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fixed Dates</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Date_Adjustment_Type</name>
        <label>Check Date Adjustment Type</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_CSOs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Add Days</defaultConnectorLabel>
        <rules>
            <name>Is_Fixed_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Date_Adjustment_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceFixedDates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_fixedDateMode</targetReference>
            </connector>
            <label>Is Fixed Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_CSOs</name>
        <label>Check Get CSOs</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Error_CSOs_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CSOs Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_CSOs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CSOs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Screen</targetReference>
            </connector>
            <label>Got CSOs</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoicePrograms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>TREX1__Program__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceSessions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>100</limit>
        <object>TREX1__Session__c</object>
        <sortField>TREX1__Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>The Great Cloner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>The Great Cloner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CSOs</name>
        <label>Get CSOs</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_CSOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Original_Session_Picklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Program_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TREX1__Course_Session_Option__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Options</name>
        <label>Update Course Options</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_Course_Sessions</targetReference>
        </connector>
        <inputReference>datatableClonedCourseOptions.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Sessions</name>
        <label>Update Course Sessions</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputReference>datatableClonedCourseSessions.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Configuration_Screen</name>
        <label>Configuration Screen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Date_Adjustment_Type</targetReference>
        </connector>
        <fields>
            <name>Configuration_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configuration_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program_Header</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Program Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Input_Program_Picklist</name>
                    <choiceReferences>recChoicePrograms</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Program</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configuration_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Session_Header</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Session Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Input_Original_Session_Picklist</name>
                    <choiceReferences>recChoiceSessions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Original Session</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_Target_Session_Picklist</name>
                    <choiceReferences>recChoiceSessions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Target Session</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configuration_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_Options_Header</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Additional Options&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Input_Date_Adjustment_Type_Picklist</name>
                    <choiceReferences>choiceAddDays</choiceReferences>
                    <choiceReferences>choiceFixedDates</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Date Adjustment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Days_to_Add</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Days to Add</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Optionally enter a number of days to add to all dates in the cloned records. For example, to set all cloned records one year ahead of the original records, enter 365.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Input_Date_Adjustment_Type_Picklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceAddDays</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Input_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Input_Date_Adjustment_Type_Picklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceFixedDates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Input_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Input_Date_Adjustment_Type_Picklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceFixedDates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Toggle_Header</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Update Record Names&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Flip this toggle to Active to update any instance of the Session Name or Session Code in a record&apos;s name (e.g. &quot;Baseball Spring 2022&quot; cloned into a Summer 2022 Session would become &quot;Baseball Summer 2022&quot;)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>updateSessionNameMode</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Update Names</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Keep Original Names</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Course_Options</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Screen_Msg</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Success! Make any needed changes to the tables below. Changes will not be committed until you click Commit Changes.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>datatableClonedCourseSessions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Session__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstClonedCourseSessions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,TREX1__Code__c,TREX1__Course__c,TREX1__Product__c,TREX1__Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:257, TREX1__Code__c:96, TREX1__Course__c:204, TREX1__Product__c:213, TREX1__Session__c:191</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>New Course Sessions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>datatableClonedCourseOptions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Option__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Option__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstClonedCourseOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,TREX1__Code__c,TREX1__Start_Date__c,TREX1__Start_Time__c,TREX1__End_Date__c,TREX1__End_Time__c,TREX1__Register_From_Date__c,TREX1__Register_From_Time__c,TREX1__Register_To_Date__c,TREX1__Register_To_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:188, TREX1__Code__c:152, TREX1__Start_Date__c:123, TREX1__Start_Time__c:93, TREX1__End_Date__c:132, TREX1__End_Time__c:88, TREX1__Register_From_Date__c:59, TREX1__Register_From_Time__c:59, TREX1__Register_To_Date__c:59, TREX1__Register_To_Time__c:59</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>New Course Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Commit Changes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Screen_Msg</name>
            <fieldText>&lt;p&gt;That&apos;s all.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_CSOs_Not_Found_Screen</name>
        <label>Error CSOs Not Found Screen</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_CSOs_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We couldn&apos;t find any records matching your criteria. Please check the Program and Session and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clone_Em</targetReference>
        </connector>
        <fields>
            <name>datatableOriginalCSOs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Session_Option__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Session_Option__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>TREX1__Course_Option__c,TREX1__Course_Session__c,TREX1__Option_Available__c,TREX1__Available_Online__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>TREX1__Course_Option__c:239, TREX1__Course_Session__c:239, TREX1__Option_Available__c:239, TREX1__Available_Online__c:239</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Course Session Options to be Cloned</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_CSOs</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Review_Screen_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Do it. I dare you. No really, this is irreversible. Please be careful.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>CLONE LIBRARY</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Configuration_Screen</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Do less work! Click the clone button and enjoy some time off.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>queryString</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id, TREX1__Course_Session__c, TREX1__Course_Option__c, TREX1__Option_Available__c, TREX1__Available_Online__c FROM TREX1__Course_Session_Option__c WHERE TREX1__Course_Session__r.TREX1__Session__c = &apos;{!Input_Original_Session_Picklist}&apos; AND TREX1__Course_Session__r.TREX1__Course__r.TREX1__Program__c = &apos;{!Input_Program_Picklist}&apos;</text>
    </textTemplates>
    <variables>
        <name>courseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fixedDateMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstClonedCourseOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Option__c</objectType>
    </variables>
    <variables>
        <name>lstClonedCourseSessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Session__c</objectType>
    </variables>
    <variables>
        <name>originalCourseSessionOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Session_Option__c</objectType>
    </variables>
</Flow>
