force-app/main/default/flows/The_Great_Cloner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Em</name>
        <label>Clone &apos;Em!</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>DoubleMe</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>daysToAdd</name>
            <value>
                <elementReference>Number_of_Days_to_Add</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstCSOs</name>
            <value>
                <elementReference>datatableOriginalCSOs.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Input_Target_Session_Picklist</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstClonedCourseOptions</assignToReference>
            <name>lstClonedCourseOptions</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>lstClonedCourseSessions</assignToReference>
            <name>lstClonedCourseSessions</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Query_for_CSOs</name>
        <label>Query for CSOs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>TREX1__Course_Session_Option__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>queryString</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>originalCourseSessionOptions</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>recChoicePrograms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>TREX1__Program__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceSessions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>100</limit>
        <object>TREX1__Session__c</object>
        <sortField>TREX1__Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>The Great Cloner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>The Great Cloner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Course_Options</name>
        <label>Update Course Options</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_Course_Sessions</targetReference>
        </connector>
        <inputReference>datatableClonedCourseOptions.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Sessions</name>
        <label>Update Course Sessions</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputReference>datatableClonedCourseSessions.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Choose_Sessions</name>
        <label>Choose Sessions</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Query_for_CSOs</targetReference>
        </connector>
        <fields>
            <name>Choose_Sessions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Sessions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program_Header</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Program Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Input_Program_Picklist</name>
                    <choiceReferences>recChoicePrograms</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Program</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Sessions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Session_Header</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Session Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Input_Original_Session_Picklist</name>
                    <choiceReferences>recChoiceSessions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Original Session</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_Target_Session_Picklist</name>
                    <choiceReferences>recChoiceSessions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Target Session</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Sessions_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_Options_Header</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Additional Options&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Number_of_Days_to_Add</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Days to Add</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Optionally enter a number of days to add to all dates in the cloned records. For example, to set all cloned records one year ahead of the original records, enter 365.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Course_Options</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Screen_Msg</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Success! Make any needed changes to the tables below. Changes will not be committed until you click Finish.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>datatableClonedCourseSessions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Session__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstClonedCourseSessions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,TREX1__Code__c,TREX1__Course__c,TREX1__Product__c,TREX1__Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:257, TREX1__Code__c:96, TREX1__Course__c:204, TREX1__Product__c:213, TREX1__Session__c:191</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>New Course Sessions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>datatableClonedCourseOptions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Option__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Option__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstClonedCourseOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,TREX1__Code__c,TREX1__Start_Date__c,TREX1__Start_Time__c,TREX1__End_Date__c,TREX1__End_Time__c,TREX1__Register_From_Date__c,TREX1__Register_From_Time__c,TREX1__Register_To_Date__c,TREX1__Register_To_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:188, TREX1__Code__c:152, TREX1__Start_Date__c:123, TREX1__Start_Time__c:93, TREX1__End_Date__c:132, TREX1__End_Time__c:88, TREX1__Register_From_Date__c:59, TREX1__Register_From_Time__c:59, TREX1__Register_To_Date__c:59, TREX1__Register_To_Time__c:59</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>New Course Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Screen_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://asphaltgreen--clone--c.documentforce.com/sfc/servlet.shepherd/version/download/068030000028yP3?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clone_Em</targetReference>
        </connector>
        <fields>
            <name>datatableOriginalCSOs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Session_Option__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Session_Option__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>originalCourseSessionOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>TREX1__Course_Option__c,TREX1__Course_Session__c,TREX1__Option_Available__c,TREX1__Available_Online__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>TREX1__Course_Option__c:239, TREX1__Course_Session__c:239, TREX1__Option_Available__c:239, TREX1__Available_Online__c:239</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Course Session Options to be Cloned</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Review_Screen_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Do it. I dare you. No really, this is irreversible. Please be careful.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>CLONE LIBRARY</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choose_Sessions</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Do less work! Click the clone button and enjoy some time off.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>queryString</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id, TREX1__Course_Session__c, TREX1__Course_Option__c, TREX1__Option_Available__c, TREX1__Available_Online__c FROM TREX1__Course_Session_Option__c WHERE TREX1__Course_Session__r.TREX1__Session__c = &apos;{!Input_Original_Session_Picklist}&apos; AND TREX1__Course_Session__r.TREX1__Course__r.TREX1__Program__c = &apos;{!Input_Program_Picklist}&apos;</text>
    </textTemplates>
    <variables>
        <name>courseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstClonedCourseOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Option__c</objectType>
    </variables>
    <variables>
        <name>lstClonedCourseSessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Session__c</objectType>
    </variables>
    <variables>
        <name>originalCourseSessionOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Session_Option__c</objectType>
    </variables>
</Flow>
