force-app/main/default/flows/The_Great_Cloner_V3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Em</name>
        <label>Clone &apos;Em!</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <actionName>DoubleMe</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>daysToAdd</name>
            <value>
                <elementReference>Number_of_Days_to_Add</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dontCloneProducts</name>
            <value>
                <elementReference>dontCloneProducts.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fixedDateMode</name>
            <value>
                <elementReference>fixedDateMode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fixedEndDate</name>
            <value>
                <elementReference>Input_End_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fixedStartDate</name>
            <value>
                <elementReference>Input_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstAQGs</name>
            <value>
                <elementReference>datatable_OriginalAQG.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstAvailableDiscounts</name>
            <value>
                <elementReference>datattableAvailDisc.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstCSOs</name>
            <value>
                <elementReference>datatableOriginalCSOs.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originalSessionId</name>
            <value>
                <elementReference>Input_Original_Session_Picklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>takeRegistrationFromSession</name>
            <value>
                <elementReference>takeRegistrationFromSession.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSessionId</name>
            <value>
                <elementReference>Input_Target_Session_Picklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateSessionNameMode</name>
            <value>
                <elementReference>updateSessionNameMode.value</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstClonedCourseOptions</assignToReference>
            <name>lstClonedCourseOptions</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>lstClonedCourseSessions</assignToReference>
            <name>lstClonedCourseSessions</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Session_List</name>
        <label>Get Session List</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>GetSessionByCourse</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Configuration_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recChoiceCourse</name>
            <value>
                <elementReference>recChoiceCourse</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Course_Option_Collection</name>
        <label>Add to Course Option Collection</label>
        <locationX>270</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>courseOptionUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_Course_Option_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Course_Option_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Course_Session_Collection</name>
        <label>Add to Course Session Collection</label>
        <locationX>270</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>courseSessionUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_Course_Session_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Course_Session_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Course_Option_Name_to_Name</name>
        <label>Assign Course Option Name to Name</label>
        <locationX>270</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>Copy_Course_Option_Name.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_Course_Option_Name.Course_Option_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Course_Option_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Course_Session_Name_to_Name</name>
        <label>Assign Course Session Name to Name</label>
        <locationX>270</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>Copy_Course_Session_Name.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_Course_Session_Name.Course_Session_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Course_Session_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Course_Session_ids</name>
        <label>List Course Session ids</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Set_CourseSessionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_CSO.TREX1__Course_Session__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_CSO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_fixedDateMode</name>
        <label>Set fixedDateMode</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>fixedDateMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Course_All</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>All</name>
        <choiceText>All Courses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAddDays</name>
        <choiceText>Add days to original record&apos;s dates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceFixedDates</name>
        <choiceText>Choose start and end dates for all cloned records</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fixed Dates</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Date_Adjustment_Type</name>
        <label>Check Date Adjustment Type</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>If_Course_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Add Days</defaultConnectorLabel>
        <rules>
            <name>Is_Fixed_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Date_Adjustment_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceFixedDates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_fixedDateMode</targetReference>
            </connector>
            <label>Is Fixed Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_CSOs</name>
        <label>Check Get CSOs</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Error_CSOs_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CSOs Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_CSOs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CourseSessionOptionsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Screen</targetReference>
            </connector>
            <label>Got CSOs</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Course_All</name>
        <label>If Course All</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Course_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Course_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>All</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSOs</targetReference>
            </connector>
            <label>Yes Course All</label>
        </rules>
        <rules>
            <name>Not_ALL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recChoiceCourse</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>All</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSOs_With_Course</targetReference>
            </connector>
            <label>Not ALL</label>
        </rules>
    </decisions>
    <description>add Don&apos;t clone products; add Registration Values from Target Session toggle merged with additional form fields; add course filter; Add Erica changes Plus session filter</description>
    <dynamicChoiceSets>
        <name>getSessionListChoice</name>
        <collectionReference>Get_Session_List.Sessions</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>TREX1__Session__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceCourse</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TREX1__Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recChoicePrograms</elementReference>
            </value>
        </filters>
        <object>TREX1__Course__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoicePrograms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>TREX1__Program__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceSessions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>100</limit>
        <object>TREX1__Session__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceSessionsTarget</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TREX1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <limit>100</limit>
        <object>TREX1__Session__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>The Great Cloner V3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>The Great Cloner V3</label>
    <loops>
        <name>Copy_Course_Option_Name</name>
        <label>Copy Course Option Name</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <collectionReference>datatableClonedCourseOptions.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Course_Option_Name_to_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_Course_Session_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_Course_Session_Name</name>
        <label>Copy Course Session Name</label>
        <locationX>182</locationX>
        <locationY>3062</locationY>
        <collectionReference>datatableClonedCourseSessions.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Course_Session_Name_to_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Course_Options</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_CSO</name>
        <label>Loop Over CSO</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <collectionReference>datatableOriginalCSOs.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_Course_Session_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Available_Discounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_AQGs</name>
        <label>Get AQGs</label>
        <locationX>182</locationX>
        <locationY>2126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_QG_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TREX1__Course_Session__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Set_CourseSessionIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>TREX1__Course_Session__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TREX1__Assigned_Question_Group__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Discounts</name>
        <label>Get Available Discounts</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AQGs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TREX1__Course_Session__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Set_CourseSessionIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>TREX1__Course_Session__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TREX1__Available_Discounts__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CSOs</name>
        <label>Get CSOs</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_CSOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Original_Session_Picklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recChoicePrograms</elementReference>
            </value>
        </filters>
        <object>TREX1__Course_Session_Option__c</object>
        <outputReference>CourseSessionOptionsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TREX1__Course_Option__c</queriedFields>
        <queriedFields>TREX1__Course_Session__c</queriedFields>
        <queriedFields>TREX1__Option_Available__c</queriedFields>
        <queriedFields>TREX1__Available_Online__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_CSOs_With_Course</name>
        <label>Get CSOs With Course</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_CSOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Original_Session_Picklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recChoicePrograms</elementReference>
            </value>
        </filters>
        <filters>
            <field>Course_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recChoiceCourse</elementReference>
            </value>
        </filters>
        <object>TREX1__Course_Session_Option__c</object>
        <outputReference>CourseSessionOptionsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TREX1__Course_Option__c</queriedFields>
        <queriedFields>TREX1__Course_Session__c</queriedFields>
        <queriedFields>TREX1__Option_Available__c</queriedFields>
        <queriedFields>TREX1__Available_Online__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Options</name>
        <label>Update Course Options</label>
        <locationX>182</locationX>
        <locationY>3518</locationY>
        <connector>
            <targetReference>Update_Course_Sessions</targetReference>
        </connector>
        <inputReference>courseOptionUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Sessions</name>
        <label>Update Course Sessions</label>
        <locationX>182</locationX>
        <locationY>3638</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputReference>courseSessionUpdateList</inputReference>
    </recordUpdates>
    <screens>
        <name>Configuration_Screen</name>
        <label>Configuration Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Date_Adjustment_Type</targetReference>
        </connector>
        <fields>
            <name>Configuration_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configuration_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Session_Header</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Session Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Input_Original_Session_Picklist</name>
                    <choiceReferences>getSessionListChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Original Session</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_Target_Session_Picklist</name>
                    <choiceReferences>recChoiceSessionsTarget</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Target Session</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configuration_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_Options_Header</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Additional Options&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Input_Date_Adjustment_Type_Picklist</name>
                    <choiceReferences>choiceAddDays</choiceReferences>
                    <choiceReferences>choiceFixedDates</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Date Adjustment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Days_to_Add</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Days to Add</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Optionally enter a number of days to add to all dates in the cloned records. For example, to set all cloned records one year ahead of the original records, enter 365.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Input_Date_Adjustment_Type_Picklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceAddDays</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Input_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Input_Date_Adjustment_Type_Picklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceFixedDates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Input_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Input_Date_Adjustment_Type_Picklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceFixedDates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Toggle_Header</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Update Record Names&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Flip this toggle to Active to update any instance of the Session Name or Session Code in a record&apos;s name (e.g. &quot;Baseball Spring 2022&quot; cloned into a Summer 2022 Session would become &quot;Baseball Summer 2022&quot;)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Note&lt;/u&gt;: This toggle will &lt;strong&gt;&lt;em&gt;only&lt;/em&gt;&lt;/strong&gt; update the records that have the Session Name appended at the end of the record name. You will have the opportunity to manually update the record names throughout this process. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>updateSessionNameMode</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Update Names</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Keep Original Names</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Toggle_Header_Reg_From_Session</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(24, 31, 56); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Take Registration Values from Target Session&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>takeRegistrationFromSession</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Take Registration Values from Target Session</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Don&apos;t Take Registration Values from Target Session</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dontCloneProductsText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(24, 31, 56);&quot;&gt;Don&apos;t Clone Course Session Product&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dontCloneProducts</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Don&apos;t Clone Course Session Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Clone Course Session Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_Course_Option_Name</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Screen_Msg</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Success! Make any needed changes to the tables below. Changes will not be committed until you click Commit Changes.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NameUpdates</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Updating Record Names&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The first column in both tables &quot;Course Session Name&quot; and &quot;Course Option Name&quot; represent the current/original name of the records. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;⚠️&lt;strong&gt; To update that name, click on the pencil icon in the second column  &quot;Target Course Session Name&quot; or &quot;Target Course Option Name&quot; and enter the desired name. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Upon clicking &quot;Commit Changes&quot;, the &quot;Course Session Name&quot; and the &quot;Course Option Name&quot; will update with the values you&apos;ve entered in the second column. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>datatableClonedCourseSessions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Session__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstClonedCourseSessions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Course_Session_Name__c,TREX1__Available__c,TREX1__Available_Online__c,TREX1__Available_Online_From__c,TREX1__Available_Online_To__c,TREX1__Code__c,TREX1__Course__c,TREX1__Product__c,TREX1__Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:229, Course_Session_Name__c:165, TREX1__Available__c:98, TREX1__Available_Online__c:137, TREX1__Available_Online_From__c:132, TREX1__Available_Online_To__c:135, TREX1__Code__c:96, TREX1__Course__c:157, TREX1__Product__c:100, TREX1__Session__c:134</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>New Course Sessions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>courseOptionUpdateDetails</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Each of the Course Option tables contains all of the Course Options cloned. Each table displays different fields to be updated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatableClonedCourseOptions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Option__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Option__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstClonedCourseOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Course_Option_Name__c,TREX1__Code__c,TREX1__Start_Date__c,TREX1__End_Date__c,TREX1__Start_Time__c,TREX1__End_Time__c,TREX1__Age_Min__c,TREX1__Age_Max__c,TREX1__Age_as_of_date__c,TREX1__Capacity__c,TREX1__Unlimited_Capacity__c,TREX1__Waitlist_Capacity__c,TREX1__Unlimited_Waitlist_Capacity__c,TREX1__Overbooking_Capacity__c,TREX1__Unlimited_Overbooking_Capacity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:133, Course_Option_Name__c:168, TREX1__Code__c:76, TREX1__Start_Date__c:122, TREX1__End_Date__c:122, TREX1__Start_Time__c:122, TREX1__End_Time__c:122, TREX1__Age_Min__c:131, TREX1__Age_Max__c:131, TREX1__Age_as_of_date__c:124, TREX1__Capacity__c:92, TREX1__Unlimited_Capacity__c:86, TREX1__Waitlist_Capacity__c:118, TREX1__Unlimited_Waitlist_Capacity__c:85, TREX1__Overbooking_Capacity__c:101, TREX1__Unlimited_Overbooking_Capacity__c:79</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>New Course Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>datatableClonedCourseOptions_internalReg</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Option__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Option__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstClonedCourseOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>New Course Options: Internal Registration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,TREX1__Available__c,TREX1__Register_From_Date__c,TREX1__Register_To_Date__c,TREX1__Register_From_Time__c,TREX1__Register_To_Time__c,TREX1__Early_Register__c,TREX1__Early_Register_From_Date__c,TREX1__Early_Register_To_Date__c,TREX1__Early_Register_From_Time__c,TREX1__Early_Register_To_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:170, TREX1__Available__c:89, TREX1__Register_From_Date__c:130, TREX1__Register_To_Date__c:130, TREX1__Register_From_Time__c:130, TREX1__Register_To_Time__c:130, TREX1__Early_Register__c:130, TREX1__Early_Register_From_Date__c:130, TREX1__Early_Register_To_Date__c:130, TREX1__Early_Register_From_Time__c:130, TREX1__Early_Register_To_Time__c:130</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>datatableClonedCourseOptions_onlineReg</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Option__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Option__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstClonedCourseOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>New Course Options: Online Registration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,TREX1__Available_Online__c,TREX1__Register_Online_From_Date__c,TREX1__Register_Online_To_Date__c,TREX1__Register_Online_From_Time__c,TREX1__Register_Online_To_Time__c,TREX1__Early_Register_Online__c,TREX1__Early_Register_Online_From_Date__c,TREX1__Early_Register_Online_To_Date__c,TREX1__Early_Register_Online_From_Time__c,TREX1__Early_Register_Online_To_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:197, TREX1__Available_Online__c:90, TREX1__Register_Online_From_Date__c:130, TREX1__Register_Online_To_Date__c:130, TREX1__Register_Online_From_Time__c:130, TREX1__Register_Online_To_Time__c:130, TREX1__Early_Register_Online__c:111, TREX1__Early_Register_Online_From_Date__c:130, TREX1__Early_Register_Online_To_Date__c:130, TREX1__Early_Register_Online_From_Time__c:130, TREX1__Early_Register_Online_To_Time__c:130</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Course_Configuration_Screen</name>
        <label>Course Configuration Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Session_List</targetReference>
        </connector>
        <fields>
            <name>Course_Configuration_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Course_Configuration_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Course_Header</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Course Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Input_Course_Picklist</name>
                    <choiceReferences>recChoiceCourse</choiceReferences>
                    <choiceReferences>All</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Course</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Course_Configuration_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Course_Configuration_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>182</locationX>
        <locationY>3758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Screen_Msg</name>
            <fieldText>&lt;p&gt;The record clone is in progress. You will be notified by an email once the clone is successfully completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_CSOs_Not_Found_Screen</name>
        <label>Error CSOs Not Found Screen</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_CSOs_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We couldn&apos;t find any records matching your criteria. Please check the Program and Session and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Program_Configuration_Screen</name>
        <label>Program Configuration Screen</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Course_Configuration_Screen</targetReference>
        </connector>
        <fields>
            <name>Program_Configuration_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Program_Configuration_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Program_Header</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Program Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Input_Program_Picklist</name>
                    <choiceReferences>recChoicePrograms</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Program</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Program_Configuration_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Program_Configuration_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_QG_Discount</name>
        <label>Review AQG Discount</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clone_Em</targetReference>
        </connector>
        <fields>
            <name>datattableAvailDisc</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Available_Discounts__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Available_Discounts__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Available_Discounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>TREX1__Course_Option__c,TREX1__Course_Session__c,TREX1__Externally_Available_Date__c,TREX1__Externally_Available_Expiry_Date__c,TREX1__Internally_Available_Date__c,TREX1__Internally_Available_Expiry_Date__c,TREX1__Program__c,TREX1__Course__c,TREX1__Membership_Category__c,TREX1__Membership_Type__c,TREX1__Automatically_Assign__c,TREX1__Add_On__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>TREX1__Course_Option__c:77, TREX1__Course_Session__c:77, TREX1__Externally_Available_Date__c:77, TREX1__Externally_Available_Expiry_Date__c:77, TREX1__Internally_Available_Date__c:77, TREX1__Internally_Available_Expiry_Date__c:77, TREX1__Program__c:77, TREX1__Course__c:77, TREX1__Membership_Category__c:77, TREX1__Membership_Type__c:77, TREX1__Automatically_Assign__c:77, TREX1__Add_On__c:77</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Available Discounts</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>datatable_OriginalAQG</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Assigned_Question_Group__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Assigned_Question_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_AQGs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>TREX1__Course_Session__c,TREX1__Question_Group__c,TREX1__Sort_Priority__c,TREX1__Custom_Questions_Form_Template__c,TREX1__Skill_Assessment_Template__c,TREX1__Booking_Contract_Option__c,TREX1__Facility__c,TREX1__Function__c,TREX1__Course__c,TREX1__Program__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>TREX1__Course_Session__c:93, TREX1__Question_Group__c:93, TREX1__Sort_Priority__c:93, TREX1__Custom_Questions_Form_Template__c:93, TREX1__Skill_Assessment_Template__c:93, TREX1__Booking_Contract_Option__c:93, TREX1__Facility__c:93, TREX1__Function__c:93, TREX1__Course__c:93, TREX1__Program__c:93</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Assigned Question Groups</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Review_Screen_Comment</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Do it. I dare you. No really, this is irreversible. Please be careful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Over_CSO</targetReference>
        </connector>
        <fields>
            <name>datatableOriginalCSOs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TREX1__Course_Session_Option__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TREX1__Course_Session_Option__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>TREX1__Course_Option__c,TREX1__Course_Session__c,TREX1__Option_Available__c,TREX1__Available_Online__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>TREX1__Course_Option__c:239, TREX1__Course_Session__c:239, TREX1__Option_Available__c:239, TREX1__Available_Online__c:239</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Course Session Options to be Cloned</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom51</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CourseSessionOptionsList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Program_Configuration_Screen</targetReference>
        </connector>
        <fields>
            <name>WelcomeScreen_HeaderText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Begin the cloning process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Screen_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Do less work! Click the clone button and enjoy some time off.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>courseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>courseOptionUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Option__c</objectType>
    </variables>
    <variables>
        <name>CourseSessionOptionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TREX1__Course_Session_Option__c</objectType>
    </variables>
    <variables>
        <name>courseSessionUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Session__c</objectType>
    </variables>
    <variables>
        <name>fixedDateMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstClonedCourseOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Option__c</objectType>
    </variables>
    <variables>
        <name>lstClonedCourseSessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Session__c</objectType>
    </variables>
    <variables>
        <name>originalCourseSessionOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Course_Session_Option__c</objectType>
    </variables>
    <variables>
        <name>Set_CourseSessionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
